:root {
    --color-collec1: #62D9DC;
    --color-collec2: #4EA3A5;
    --color-soutien1: #F6C749;
    --color-soutien2: #CDA63F;
    --color-combat1: #DE6262;
    --color-combat2: #A44D4D;
    --color-green1: #4dba87;
    --color-green2: #3e956d;
    --dark-green: #00643d;
    --forum-middle-grey: #868686;
    --bg: #0c0c0d;
}

body {
    min-height: 100vh;
    background-color: var(--bg);
    background-image: url(https://i.imgur.com/X9wtejq.png);
    background-position: bottom right;
    background-size: 150vh;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

u {
    text-decoration: underline;
}

/* ----- Menu ----- */

.outils_menu {
    background: linear-gradient(to right, var(--forum-main-color), var(--forum-accent-color));
    height: 45px;
    width: 100%;
}

/* ----- Début calculateur de dégâts ----- */

.bw_calculator {
    width: 1110px;
    height: 500px;
    box-sizing: border-box;
    border: 1px solid var(--forum-main-color);
    border-radius: 20px;
    padding: 20px;
    margin: 100px auto;
    font-family: arial;
    position: relative;
}

.bw_calculator .calculator_background {
    background: var(--forum-second-grey);
    display: flex;
    height: 100%;
    position: relative;
}

.calculator_background > div {
    padding: 30px;
    width: 50%;
    position: relative;
}

.calculator_background .calculator_left {
    background: var(--forum-light-grey);
}

.calculator_left:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 230px 93px 0px 0px;
    border-color: var(--forum-light-grey) transparent transparent transparent;
    transform: rotate(0deg);
    position: absolute;
    top: 0;
    right: -92.5px;
}

.calculator_right:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 0px 230px 93px;
    border-color: transparent transparent var(--forum-second-grey) transparent;
    transform: rotate(0deg);
    position: absolute;
    bottom: 0;
    left: -92.5px;
}

.bw_calculator fieldset {
    border: none;
    width: 392px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.calculator_left > fieldset {
    margin-bottom: 20px;
}

.calculator_right fieldset {
    gap: 16px;
}

.bw_calculator fieldset legend {
    color: var(--forum-accent-color);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 9px;
    padding: 0;
}

.bw_calculator .calculator_section, .section_breaker {
    width: 186px;
}

.bw_calculator label, .bw_calculator h4 {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    color: var(--forum-second-grey);
    margin-bottom: 2px;
}

.bw_calculator h4 {
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.bw_calculator h4 span {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    background: var(--forum-second-grey);
    text-align: center;
    border-radius: 50%;
    color: var(--forum-text);
    font-size: 12px;
    cursor: pointer;
}

.bw_calculator input[type=number], .bw_calculator input[type=text] {
    width: 186px;
    border-radius: 5px;
    border: none;
    display: block;
    height: 25px;
    background: var(--forum-second-grey);
    color: var(--forum-light-grey);
    box-sizing: border-box;
    padding-left: 5px;
    outline: none;
}

.bw_calculator .calculator_right input[type=number], .bw_calculator .calculator_right input[type=text] {
    background: var(--forum-light-grey);
    color: var(--forum-second-grey);
}

.bw_calculator small {
    display: block;
    color: var(--forum-middle-grey);
    font-size: 12px;
    margin-top: 2px;
}

.bw_calculator .calculator_section.critical, .bw_calculator .calculator_section.sauvage {
    width: 186px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.bw_calculator .calculator_section.sauvage {
    margin-top: 0px;
}

.bw_calculator label.critical_label, .bw_calculator label.sauvage_label {
    margin-bottom: -3px;
}

.bw_calculator input[type=checkbox] {
    width: 25px;
    height: 25px;
    background: var(--forum-second-grey);
    border-radius: 5px;
    vertical-align: middle;
    border: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin: 0 0 0 10px;
}

.bw_calculator .calculator_right input[type=checkbox] {
    background: var(--forum-light-grey);
}

.bw_calculator input[type=checkbox]:checked {
    background-color: var(--forum-accent-color);
    border: 1px solid var(--forum-second-grey);
}

.bw_calculator .calculator_right input[type=checkbox]:checked {
    border: 1px solid var(--forum-light-grey);
}

.bw_calculator .weakness_resistance {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 0 !important;
}

.bw_calculator .weakness_resistance div {
    display: flex;
    align-items: center;
}

.bw_calculator .calculator_right label, .bw_calculator .calculator_right h4 {
    color: var(--forum-light-grey);
}

.bw_calculator .calculator_right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
    justify-content: space-between;
    background-image: url(https://i.imgur.com/lT07rRd.png);
    background-repeat: no-repeat;
    background-position: 120% -174%;
}

.bw_calculator input[type="submit"], .bw_calculator .second_input {
    margin-top: 9px;
    width: 186px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to bottom, var(--forum-main-color), var(--forum-accent-color));
    font-size: 20px;
    color: var(--forum-white-text);
    text-transform: uppercase;
    text-shadow: 0px 0px 3px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;    
}

.calculator_background > img {
    position: absolute;
    left: 441px;
    top: 5px;
}

label.error {
    display: none!important;
}

input[type=number].error {
    margin-top: 0;
    border: 2px solid #e05f5f;
}

.stab_info {
    width: 240px;
    height: 315px;
    background: var(--forum-second-grey);
    font-size: 14px;
    color: var(--forum-light-grey);
    border-radius: 5px;
    box-shadow: 1px 1px 6px var(--forum-second-grey);
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    bottom: -181px;
    left: 86px;
    display: none;
    z-index: 10;
}

.stab_info b {
    text-transform: uppercase;
    color: var(--forum-accent-color);
}

.add_calculator {
    position: absolute;
    top: 0;
    right: -70px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background: linear-gradient(to bottom, var(--forum-main-color), var(--forum-accent-color));
    font-size: 40px;
    color: var(--forum-light-grey);
    border-radius: 5px;
    cursor: pointer;
}

/* ----- Format smartphone ----- */

@media screen and (max-width: 1120px) {

    .calculator_background > img {
        display: none;
    }

}

@media screen and (max-width: 820px) {
    .bw_calculator, .bw_calculator1, .bw_calculator2 {
        width: 545px;
        height: auto;
        margin: 100px 10px;
    }

    .calculator_background > img, .calculator_left:after, .calculator_right:after, .bw_calculator1 .calculator_background > img, .bw_calculator1 .calculator_left:after, .bw_calculator1 .calculator_right:after, .bw_calculator2 .calculator_background > img, .bw_calculator2 .calculator_left:after, .bw_calculator2 .calculator_right:after {
        display: none;
    }

    .bw_calculator .calculator_background, .bw_calculator1 .calculator_background, .bw_calculator2 .calculator_background {
        flex-wrap: wrap;
    }

    .bw_calculator .calculator_background > div, .bw_calculator1 .calculator_background > div, .bw_calculator2 .calculator_background > div {
        width: 100%;
    }

    .bw_calculator .calculator_left > fieldset:last-of-type, .bw_calculator1 .calculator_left > fieldset:last-of-type, .bw_calculator2 .calculator_left > fieldset:last-of-type {
        margin-bottom: 0;
    }

    .bw_calculator fieldset, .bw_calculator1 fieldset, .bw_calculator2 fieldset {
        width: 100%;
    }

    .bw_calculator .calculator_section, .section_breaker, .bw_calculator1 .calculator_section, .bw_calculator2 .calculator_section {
        width: 211px;
    }

    .bw_calculator input[type=number], .bw_calculator input[type=text], .bw_calculator1 input[type=number], .bw_calculator1 input[type=text], .bw_calculator2 input[type=number], .bw_calculator2 input[type=text] {
        width: 211px;
    }

    .bw_calculator .calculator_section.sauvage, .bw_calculator1 .calculator_section.sauvage, .bw_calculator2 .calculator_section.sauvage {
        margin-bottom: 50px;
    }

    .bw_calculator .calculator_right, .bw_calculator1 .calculator_right, .bw_calculator2 .calculator_right {
        background-position: 120% 0;
    }

    .bw_calculator .weakness_resistance div, .bw_calculator1 .weakness_resistance div, .bw_calculator2 .weakness_resistance div {
        margin-right: 20px;
    }

}

/* ----- Deuxième calculateur ----- */

.bw_calculator1, .bw_calculator2 {
        width: 545px;
        height: auto;
        margin: 100px 10px;
}

.bw_calculator1 .calculator_background > img, .bw_calculator1 .calculator_left:after, .bw_calculator1 .calculator_right:after, .bw_calculator2 .calculator_background > img, .bw_calculator2 .calculator_left:after, .bw_calculator2 .calculator_right:after {
    display: none;
}

.bw_calculator1 .calculator_background, .bw_calculator2 .calculator_background {
    flex-wrap: wrap;
}

.bw_calculator1 .calculator_background > div, .bw_calculator2 .calculator_background > div {
    width: 100%;
}

.bw_calculator1 .calculator_left > fieldset:last-of-type, .bw_calculator2 .calculator_left > fieldset:last-of-type {
    margin-bottom: 0;
}

.bw_calculator1 fieldset, .bw_calculator2 fieldset {
    width: 100%;
}

.bw_calculator1 .calculator_section, .bw_calculator2 .calculator_section {
    width: 211px;
}

.bw_calculator1 input[type=number], .bw_calculator1 input[type=text], .bw_calculator2 input[type=number], .bw_calculator2 input[type=text] {
    width: 211px;
}

.bw_calculator1 .calculator_section.sauvage, .bw_calculator2 .calculator_section.sauvage {
    margin-bottom: 50px;
}

.bw_calculator1 .calculator_right, .bw_calculator2 .calculator_right {
    background-position: 120% 0;
}

.bw_calculator1 .weakness_resistance div, .bw_calculator2 .weakness_resistance div {
    margin-right: 20px;
}
