body {
    margin: 0px;
    background: var(--forum-second-grey);
    padding-top: 10px;
    font-family: arial;
}

* {
    box-sizing: border-box;
}
   
    
:root {
    --forum-main-color: #56ab2f;
    --forum-accent-color: #a8de63;
    --forum-main-grey: #272727;
    --forum-second-grey: #111212;
    --forum-thirth-grey: #3b3a3a;
    --forum-text: #cdcdcd;
    --white: #fff;
    --black: #000;
    --rouge: linear-gradient(90deg, #de6262, #a44d4d);
    --jaune: linear-gradient(90deg, #f6c749, #cda63f);
    --bleu: linear-gradient(90deg, #62dadd, #4da2a4);
}

ul {
    list-style-type: disc;
}

.defi_text a {
    color: var(--forum-accent-color);
}

  /* ----- Header ----- */
.bw_message hr {
    height: 5px;
    border: none;
    background-image: linear-gradient(90deg, var(--forum-text), var(--white));
    margin: 5px 0 0 0;
}

h2 {
    width: 100%;
    color: var(--white);
    font-size: 22px;
    font-weight: 700;
    margin: 20px auto 10px;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--forum-main-grey);
    padding: 10px;
}
  
.header-line-gradient {
    background-image: linear-gradient(90deg,var(--forum-main-color),var(--forum-accent-color));
    height: 5px;
    width: 100%;
    margin-bottom: 40px;
}

.head_shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

a.showCart {
    background: var(--forum-second-grey);
    border: 1px solid var(--forum-text);
    padding: 6px 10px;
    text-transform: uppercase;
    transition: 0.5s linear;
    font-size: 13px;
}
a.showCart:hover {
    background: var(--forum-main-color);
    color: #fff;
}

.defi_text {
    width: 90%;
    margin: auto;
    text-align: justify;
    color: var(--forum-text);
    font-family: arial;
    font-size: 12px;
}
clrbw {
    color: #A8DE63!important;
}
.txt_title {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
}
    
    /* ----- Le bloc entier de la boutique ----- */
    
#boutique {
    position: relative;
    background: var(--color1);
    margin: 7px auto;
    color: var(--white);
    text-align: center;
    font: 13px var(--police-text);
    padding-bottom: 15px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.product {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  max-width: 275px;
  width: 100%;
  background: linear-gradient(-90deg, var(--forum-main-color), var(--forum-accent-color));
}

.productshow, .productshow1 {
  display: flex;
}

span.item_name, span.product_name {
    background: var(--forum-main-grey);
    padding: 5px;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    width: 100%;
    text-align: center;
}

.item_bottom, .product_bottom {
    background: var(--forum-thirth-grey);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 8px;
    width: 100%;
}

input.urlRp {
    width: 100%;
    border: none;
    margin: 4px;
    font-size: 12px;
    height: 23px;
    border-radius: 4px;
}

textarea.defiComm {
    width: 100%!important;
    height: 70px!important;
    margin: 4px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial;
}

span.item_subtitle {
    display: block;
    text-transform: uppercase;
    font-size: 11px;
    margin-bottom: 5px;
}

.noButton1, .noButton2, .noButton3, .noButton4 {
    width: 180px;
    height: 25px;
    margin: 10px auto;
}

.item_cate, .product_gain {
    font-size: 11px;
    width: 100%;
    padding: 2px;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 5px;
    background: var(--forum-thirth-grey);
    color: var(--forum-text);
}

p.item_desc {
    background: var(--forum-main-grey);
    width: 100%;
    margin: auto;
    text-align: justify;
    padding: 7px;
    font-size: 12px;
    height: 75px;
    overflow: auto;
}

.cateDefi {
  display: none;
}

button.add-to-cart {
    width: 180px;
    height: 25px;
    color: #fff;
    font-size: 13px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(90deg, var(--forum-main-color), var(--forum-accent-color));
    transition: all .5s;
}

button.add-to-cart:hover {
  letter-spacing: 1.5px;
}

/* ----- Filtre et recherche ----- */

input#searchInput {
    display: block;
    width: 250px;
    height: 30px;
    border: none;
    background: var(--white);
}

.shop_filter {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 15px auto 50px;
}
.shop_filter > input {
    display: none;
}
.shop_filter > label, .shop_filter > a {
    width: 15%;
    text-align: center;
    background: var(--forum-thirth-grey);
    padding: 5px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
}
.shop_filter > a:hover {
    color: var(--white);
}
    
.shop_filter input:checked + label, .shop_filter > a.filtchecked {
    background-image: linear-gradient(90deg, var(--forum-main-color), var(--forum-accent-color));
    color: #fff;
    cursor: pointer;
}

/* ----- Début du panier ----- */

.bw_message {
    width: 610px!important;
    margin-top: 50px;
}

.bw_message .message_subtitle {
    font-size: 14px;
}

.bw_message .message_header img {
    width: 298px;
    top: 110%;
}

#myCart {
    width: 100%;
    max-height: 285px;
    padding: 15px 5px;
    color: var(--white);
    text-align: justify;
    overflow: auto;
    background: var(--forum-second-grey);
    margin-bottom: 10px;
}

.cart_product {
    margin-bottom: 14px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(-90deg, var(--forum-main-color), var(--forum-accent-color));
    position: relative;
    border: 1px solid var(--forum-accent-color);
}

.product_descri {
    display: none;
}

span.item {
    display: block;
    width: 450px;
    font-size: 13px;
    padding-top: 3px;
}

.product_bottom > a {
    width: 100%;
    text-align: center;
    color: var(--forum-accent-color);
    font-size: 12px;
    text-transform: uppercase;
}

textarea.product_comm {
    border: none;
    border-radius: 4px;
    font-size: 12px;
    font-family: Arial;
    width: 100%!important;
    height: 50px!important;
    margin: 5px;
}

button.button_delete {
    background: #e35050;
    height: 22px;
    width: 22px;
    font-weight: bold;
    padding-top: 2px;
    position: absolute;
    right: 0;
    top: 0;
}

textarea#detail {
    background: var(--white);
    border: none;
    font: 14px Arial;
    text-align: justify;
    width: 590px!important;
    height: 55px!important;
    color: var(--black);
    margin: 5px;
}

.btn-empty, .btn-previ, .btn-pay {
    margin-bottom: 10px;
    height: 24px;
    padding: 0 14px 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    background-image: linear-gradient(90deg, var(--forum-main-color), var(--forum-accent-color));
    transition: all .5s;
}
.btn-empty {
  width: 185px;
}
.btn-previ {
  width: 138px;
}
.btn-pay {
  width: 205px;
}
.btn-empty:hover, .btn-previ:hover, .btn-pay:hover {
  letter-spacing: 0.5px;
}
button.btn-empty {
    background-image: var(--rouge);
}

/* ----- Spoiler ----- */
dl.codebox {
    background-color: var(--forum-thirth-grey);
    border: 1px solid var(--forum-second-grey);
    padding: 3px;
    font-size: 11px;
}
dl.codebox dt {
    border-bottom: 1px solid var(--forum-second-grey);
    text-transform: uppercase;
    margin-bottom: 3px;
    display: block;
}
.spoiler_content{
  display: none;
}

/* ----- Couleurs des catégories ----- */

.product.\30 2, .product.\30 2 button {
    background: var(--jaune);
}
.cart_product.\30 2 {
    background: var(--jaune);
    border: 1px solid #f6c749;
}
.cart_product.\30 2 .product_bottom > a {
  color: #f6c749;
}
.product.\30 3, .product.\30 3 button {
    background: var(--bleu);
}
.cart_product.\30 3 {
    background: var(--bleu);
    border: 1px solid #62dadd;
}
.cart_product.\30 3 .product_bottom > a {
  color: #62dadd;
}
.product.\30 4, .product.\30 4 button {
    background: var(--rouge);
}
.cart_product.\30 4 {
    background: var(--rouge);
    border: 1px solid #de6262;
}
.cart_product.\30 4 .product_bottom > a {
  color: #de6262;
}